html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video, button, textarea {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

input {
  border: none;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: ''; }

q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

textarea:focus,
input:focus,
button:focus {
  outline-offset: 0;
  outline: none; }

html {
  font-size: 16px; }

button {
  cursor: pointer; }

.container {
  width: 1352px;
  margin-right: auto;
  margin-left: auto;
  position: relative; }

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  color: #000;
  padding-bottom: 30px; }

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: 400; }

a {
  text-decoration: none; }

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #08A6E4; }

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #707070;
  border-radius: 4px;
  padding: 12px;
  margin-right: 5px;
  position: relative;
  cursor: pointer; }

.checkbox:checked:after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20%;
  right: 20%;
  background: url("../image/Checkmark.svg") center/cover; }

@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2rem; } }

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 2; }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px; }

.header-menu-icon i {
  color: #08A6E4; }

.header-menu li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.21rem;
  text-transform: uppercase;
  text-align: center; }
  .header-menu li a {
    text-decoration: none;
    color: #A5A5A5; }
  .header-menu li a:hover {
    color: #000; }

.header-menu-close-icon {
  display: none; }

@media (max-width: 800px) {
  .header-menu {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); }
    .header-menu ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      padding: 20px 0 20px 0;
      background: #fff; }
      .header-menu ul li {
        padding: 10px 0 10px 50px; } }

@media (min-width: 801px) {
  .header-menu-open-icon,
  .header-menu-close-icon {
    display: none; }
  .header-menu {
    display: block; }
    .header-menu ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header-menu ul li {
        padding-left: 50px; }
      .header-menu ul a:hover {
        border-bottom: 5px solid #08A6E4;
        padding-bottom: 22.5px; } }

.banner {
  height: calc(100vh - 180px);
  width: 100%;
  background: url("../image/Background.png") bottom no-repeat;
  background-size: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .banner a, .banner .banner-text, .banner .banner-btn {
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .banner .banner-text {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    margin: 1.3rem auto 2.4rem auto;
    padding: 0 70px 0 70px; }
    .banner .banner-text p {
      text-align: center; }

h1 a {
  color: #000;
  text-decoration: none;
  text-align: center; }

.banner-btn-1 {
  background-color: #08A6E4;
  border-radius: calc(4.2rem / 2);
  display: flex;
  justify-content: center;
  align-items: center; }
  .banner-btn-1 a {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 700;
    text-decoration: none; }

@media (max-width: 800px) {
  .banner {
    margin: 180px 0 0 0;
    background-size: 1000px; }
    .banner .banner-btn {
      width: 100%; }
      .banner .banner-btn .banner-btn-1 {
        width: 80%; }
        .banner .banner-btn .banner-btn-1 a {
          display: block;
          width: 80%;
          text-align: center;
          padding: 25px 0; } }

@media (min-width: 801px) {
  .banner {
    margin: 138px 0 0 0;
    height: calc(100vh - 137px); }
    .banner .banner-btn a {
      padding: 25px 159px; } }

.platform {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px; }
  .platform .platform-header {
    font-family: "Raleway", sans-serif;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 30px; }
  .platform .platform-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
  .platform .platform-info-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .platform .platform-info-elements .platform-info-elements-text {
      height: 5.6rem;
      width: 11rem;
      font-family: "Raleway", sans-serif;
      text-align: center;
      padding: 10px 25px; }
    .platform .platform-info-elements .platform-info-elements-img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4.8rem;
      width: 11rem;
      position: relative;
      left: 10%;
      z-index: 1; }
    .platform .platform-info-elements .platform-info p:not(.paragraph-bold) {
      color: #A5A5A5; }
    .platform .platform-info-elements .paragraph-bold {
      font-size: 1.25rem;
      font-weight: 800;
      color: #000;
      letter-spacing: 0.3rem;
      padding-bottom: 10px; }
    .platform .platform-info-elements .dot1::before {
      content: "";
      display: block;
      height: 63px;
      width: 63px;
      border-radius: 50%;
      position: absolute;
      top: 5%;
      left: 30%;
      background-color: #FB3B64; }
    .platform .platform-info-elements .dot2::before {
      content: "";
      display: block;
      height: 63px;
      width: 63px;
      border-radius: 50%;
      position: absolute;
      top: 5%;
      left: 30%;
      background-color: #08A6E4; }
    .platform .platform-info-elements .dot3::before {
      content: "";
      display: block;
      height: 63px;
      width: 63px;
      border-radius: 50%;
      position: absolute;
      top: 5%;
      left: 30%;
      background-color: #55DFB4; }

@media (max-width: 400px) {
  .platform {
    padding-bottom: 20px; }
    .platform .platform-info {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column; }
      .platform .platform-info .platform-info-elements {
        padding-bottom: 30px; }
    .platform .platform-header {
      padding: 50px 30px; } }

.benefits {
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center; }
  .benefits p {
    font-family: "Open Sans", sans-serif; }
  .benefits .benefits-first {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
    position: relative; }
    .benefits .benefits-first .benefits-first-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
    .benefits .benefits-first .benefits-first-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      z-index: 1; }
      .benefits .benefits-first .benefits-first-img .benefits-first-img-box {
        position: relative; }
      .benefits .benefits-first .benefits-first-img .benefits-first-img-box::before {
        content: "";
        display: block;
        background-color: #FB3B64;
        border-radius: 40px;
        position: absolute;
        transform: rotate(45deg);
        z-index: -1; }
  .benefits .benefits-second {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
    position: relative; }
    .benefits .benefits-second .benefits-second-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .benefits .benefits-second .benefits-second-text p {
        font-family: "Open Sans", sans-serif; }
    .benefits .benefits-second .benefits-second-img {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1; }
      .benefits .benefits-second .benefits-second-img .benefits-second-img-box {
        position: relative; }
      .benefits .benefits-second .benefits-second-img .benefits-second-img-box::before {
        content: "";
        display: block;
        background-color: #08A6E4;
        border-radius: 50%;
        position: absolute;
        z-index: -1; }
  .benefits .benefits-third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 95px;
    position: relative; }
    .benefits .benefits-third .benefits-third-left {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .benefits .benefits-third .benefits-third-left .benefits-third-left-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        .benefits .benefits-third .benefits-third-left .benefits-third-left-text p {
          font-family: "Open Sans", sans-serif; }
    .benefits .benefits-third .benefits-third-right {
      background-color: #55DFB4;
      display: flex;
      justify-content: center;
      align-items: flex-end; }

@media (max-width: 800px) {
  .benefits .container {
    margin-top: 30px; }
  .benefits .benefits-first {
    flex-direction: column-reverse; }
    .benefits .benefits-first .benefits-first-img {
      height: 230px; }
      .benefits .benefits-first .benefits-first-img .benefits-first-img-box {
        width: 254px; }
        .benefits .benefits-first .benefits-first-img .benefits-first-img-box img {
          margin-top: 55px;
          height: 9rem; }
      .benefits .benefits-first .benefits-first-img .benefits-first-img-box::before {
        width: 100px;
        height: 100px;
        right: -5px;
        top: 25px; }
  .benefits .benefits-first,
  .benefits .benefits-second,
  .benefits .benefits-third {
    margin: 0 30px 30px 30px;
    border: 1px solid #E8E9ED;
    border-radius: 5px; }
  .benefits .benefits-first-text,
  .benefits .benefits-second-text,
  .benefits .benefits-third-left,
  .benefits .benefits-third-right {
    height: 230px;
    width: 100%;
    padding: 0 40px 0 40px; }
    .benefits .benefits-first-text p,
    .benefits .benefits-second-text p,
    .benefits .benefits-third-left p,
    .benefits .benefits-third-right p {
      border-bottom: none;
      padding-bottom: 0;
      font-size: 0.87rem;
      line-height: 1.2rem; }
  .benefits .benefits-third-left,
  .benefits .benefits-third-right {
    height: 250px; }
  .benefits .benefits-second {
    flex-direction: column; }
    .benefits .benefits-second .benefits-second-img {
      height: 230px; }
      .benefits .benefits-second .benefits-second-img img {
        height: 8.5rem; }
      .benefits .benefits-second .benefits-second-img .benefits-second-img-box::before {
        width: 130px;
        height: 130px; }
  .benefits .benefits-third {
    flex-direction: column; }
    .benefits .benefits-third .benefits-third-right {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px solid #E8E9ED;
      border-right: 1px solid #E8E9ED;
      border-left: 1px solid #E8E9ED; }
      .benefits .benefits-third .benefits-third-right img {
        height: 11rem; } }

@media (min-width: 801px) {
  .benefits .container {
    margin-top: 50px; }
  .benefits p {
    padding-bottom: 35px;
    font-size: 1rem;
    line-height: 1.4rem; }
  .benefits .benefits-first,
  .benefits .benefits-second,
  .benefits .benefits-third-right,
  .benefits .benefits-third-left {
    border: 1px solid #E8E9ED;
    border-radius: 5px; }
  .benefits .benefits-first,
  .benefits .benefits-second,
  .benefits .benefits-third {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .benefits .benefits-first .benefits-first-text {
    height: 370px;
    max-width: 50%;
    min-width: 20%;
    padding: 0 90px 0 50px; }
    .benefits .benefits-first .benefits-first-text p {
      border-bottom: 5px solid #FB3B64; }
  .benefits .benefits-first .benefits-first-img {
    height: 370px; }
    .benefits .benefits-first .benefits-first-img .benefits-first-img-box {
      width: 368px;
      right: 30px; }
      .benefits .benefits-first .benefits-first-img .benefits-first-img-box img {
        margin: 80px 0 0 0;
        height: 13rem; }
    .benefits .benefits-first .benefits-first-img .benefits-first-img-box::before {
      width: 200px;
      height: 200px;
      right: -5px;
      top: 35px; }
  .benefits .benefits-second .benefits-second-text {
    height: 370px;
    max-width: 50%;
    padding: 0 50px 0 90px; }
    .benefits .benefits-second .benefits-second-text p {
      border-bottom: 5px solid #08A6E4; }
  .benefits .benefits-second .benefits-second-img {
    height: 370px; }
    .benefits .benefits-second .benefits-second-img .benefits-second-img-box {
      width: 367px; }
      .benefits .benefits-second .benefits-second-img .benefits-second-img-box img {
        height: 20rem; }
    .benefits .benefits-second .benefits-second-img .benefits-second-img-box::before {
      width: 320px;
      height: 320px;
      left: 120px; }
  .benefits-third .benefits-third-left {
    height: 370px;
    flex-grow: 2; }
    .benefits-third .benefits-third-left .benefits-third-left-text {
      padding: 0 120px 0 50px; }
      .benefits-third .benefits-third-left .benefits-third-left-text p {
        border-bottom: 5px solid #55DFB4; }
  .benefits-third .benefits-third-right {
    height: 370px;
    flex-grow: 1;
    padding: 30px 30px 0 0;
    margin-left: 37px; }
    .benefits-third .benefits-third-right img {
      height: 16rem; } }

.pricing {
  display: flex;
  justify-content: center;
  align-items: center; }
  .pricing .pricing-bottom {
    display: flex;
    justify-content: center;
    align-items: center; }
    .pricing .pricing-bottom .pricing-bottom-button {
      display: flex;
      justify-content: space-evenly;
      font-size: 1rem;
      height: 4.2rem;
      border-radius: calc(4.2rem / 2);
      background: #fb3b64;
      background: -moz-linear-gradient(left, #fb3b64 0%, #08a6e4 50%, #55dfb4 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #fb3b64), color-stop(50%, #08a6e4), color-stop(100%, #55dfb4));
      background: -webkit-linear-gradient(left, #fb3b64 0%, #08a6e4 50%, #55dfb4 100%);
      background: -o-linear-gradient(left, #fb3b64 0%, #08a6e4 50%, #55dfb4 100%);
      background: -ms-linear-gradient(left, #fb3b64 0%, #08a6e4 50%, #55dfb4 100%);
      background: linear-gradient(to right, #fb3b64 0%, #08a6e4 50%, #55dfb4 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb3b64', endColorstr='#55dfb4', GradientType=1 ); }
  .pricing h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 50px; }
  .pricing h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #000;
    text-align: center; }
  .pricing p {
    text-align: center; }
  .pricing a, .pricing button {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    position: relative;
    top: 25px; }
  .pricing ul {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    text-align: center;
    list-style-image: url("../image/Ckechmark-1.svg");
    list-style-position: inside;
    padding-bottom: 30px;
    padding-top: 50px;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .pricing p:not(.packages-price) {
    font-family: "Raleway", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    color: #000; }
  .pricing .pricing-packages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    .pricing .pricing-packages .pricing-packages-basic,
    .pricing .pricing-packages .pricing-packages-professional,
    .pricing .pricing-packages .pricing-packages-premium {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
    .pricing .pricing-packages .pricing-packages-price {
      font-family: "Open Sans", sans-serif;
      font-size: 3rem;
      font-weight: 300;
      padding: 15px; }
    .pricing .pricing-packages .pricing-package {
      border-radius: 18px;
      position: relative; }
    .pricing .pricing-packages .pricing-packages-basic li:last-child,
    .pricing .pricing-packages .pricing-packages-basic li:nth-last-child(2),
    .pricing .pricing-packages .pricing-packages-professional li:last-child {
      list-style-image: url("../image/Close.svg"); }
    .pricing .pricing-packages .pricing-packages-basic {
      border: 2px solid #FB3B64; }
      .pricing .pricing-packages .pricing-packages-basic .pricing-packages-price {
        color: #FB3B64; }
      .pricing .pricing-packages .pricing-packages-basic a {
        background-color: #FB3B64; }
    .pricing .pricing-packages .pricing-packages-professional {
      border: 2px solid #08A6E4;
      box-shadow: 0 0 30px rgba(8, 166, 228, 0.5); }
      .pricing .pricing-packages .pricing-packages-professional .pricing-packages-price {
        color: #08A6E4; }
      .pricing .pricing-packages .pricing-packages-professional a {
        background-color: #08A6E4;
        box-shadow: 0 5px 15px rgba(8, 166, 228, 0.5); }
    .pricing .pricing-packages .pricing-packages-premium {
      border: 2px solid #55DFB4; }
      .pricing .pricing-packages .pricing-packages-premium .pricing-packages-price {
        color: #55DFB4; }
      .pricing .pricing-packages .pricing-packages-premium a {
        background-color: #55DFB4; }

@media (max-width: 800px) {
  .pricing {
    padding-bottom: 50px; }
    .pricing .pricing-bottom-button {
      width: 80%; }
    .pricing h2 {
      padding-bottom: 30px; }
    .pricing .pricing-packages-boxes {
      display: flex;
      justify-content: center;
      align-items: center; }
    .pricing .pricing-package {
      height: 100%;
      width: 80%;
      padding-top: 0;
      margin-bottom: 50px; }
    .pricing .pricing-packages-professional {
      height: 100%;
      width: 90%; } }

@media (min-width: 801px) {
  .pricing {
    padding-bottom: 70px; }
    .pricing .pricing-bottom-button {
      width: 300px; }
    .pricing h2 {
      padding-bottom: 50px; }
    .pricing .pricing-package {
      height: 460px;
      width: 370px;
      padding-top: 40px;
      margin: 10px 10px 50px 10px; }
    .pricing .pricing-packages-professional {
      height: 500px;
      width: 405px; } }

.questions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }
  .questions .questions-box {
    display: flex;
    margin: auto; }
    .questions .questions-box p {
      font-family: "Open Sans", sans-serif;
      padding: 20px 0; }
    .questions .questions-box .questions-box-left,
    .questions .questions-box .questions-box-right {
      flex: 1 1 0;
      padding: 0 25px 50px 25px; }
    .questions .questions-box .questions-box-left h2 {
      padding-bottom: 5px; }
    .questions .questions-box .questions-box-left .questions-box-left-contact {
      display: flex;
      flex-wrap: wrap; }
      .questions .questions-box .questions-box-left .questions-box-left-contact div {
        display: flex; }
      .questions .questions-box .questions-box-left .questions-box-left-contact p {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        color: #707070;
        padding: 20px 30px 20px 10px; }
    .questions .questions-box .questions-box-right-form {
      position: relative;
      display: flex;
      flex-direction: column; }
      .questions .questions-box .questions-box-right-form .questions-box-right-form-input {
        font-family: "Open Sans", sans-serif;
        font-size: 0.7rem;
        font-weight: 700;
        width: 100%;
        display: flex;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid #A5A5A5; }
      .questions .questions-box .questions-box-right-form .questions-box-right-form-label {
        font-family: "Open Sans", sans-serif;
        font-size: 0.7rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        color: #08A6E4; }
      .questions .questions-box .questions-box-right-form label:last-of-type {
        display: flex;
        font-family: "Open Sans", sans-serif;
        font-size: 0.75rem;
        line-height: 1rem;
        color: #A5A5A5; }
      .questions .questions-box .questions-box-right-form button {
        font-family: "Open Sans", sans-serif;
        font-size: 0.8rem;
        font-weight: 700;
        color: #fff;
        padding: 20px 95px;
        background-color: #08A6E4;
        border-radius: 30px;
        align-self: flex-end;
        margin-top: 20px; }

@media (max-width: 800px) {
  .questions-box {
    flex-direction: column;
    width: 95%;
    padding-top: 15px; }
    .questions-box h2,
    .questions-box p {
      text-align: center; } }

@media (min-width: 801px) {
  .questions-box {
    width: 80%; } }

.calculator {
  display: flex;
  justify-content: center;
  align-items: center; }

.calculator-boxes {
  width: 100%; }
  .calculator-boxes h2 {
    text-align: center;
    margin: 15px auto;
    width: 90%; }
  .calculator-boxes .calculator-boxes-box {
    width: 100%;
    display: flex;
    margin-bottom: 40px; }

.calculator-boxes-box-right {
  margin: 10px; }
  .calculator-boxes-box-right form {
    display: flex;
    flex-direction: column; }
    .calculator-boxes-box-right form label {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-size: 0.8rem;
      font-family: "Open Sans", sans-serif;
      color: #707070; }
      .calculator-boxes-box-right form label input[type="number"] {
        width: 100%;
        height: 40px;
        box-shadow: 0 3px 6px rgba(8, 166, 228, 0.29);
        border: 1px solid #08A6E4;
        border-radius: 6px;
        padding: 10px 20px;
        font-size: 0.8rem;
        color: #707070;
        background: #fff;
        box-sizing: border-box;
        cursor: pointer; }
    .calculator-boxes-box-right form .checkbox {
      display: inline-block; }

.calculator-boxes-box-right-dropdown {
  width: 100%;
  height: 40px;
  box-shadow: 0 3px 6px rgba(8, 166, 228, 0.29);
  border: 1px solid #08A6E4;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: #707070;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px; }
  .calculator-boxes-box-right-dropdown button {
    height: 20px;
    width: 20px;
    background: url("../image/ArrowDown.svg") no-repeat center/cover;
    position: absolute;
    transition: 0.7s; }
    .calculator-boxes-box-right-dropdown button:hover {
      cursor: pointer; }
  .calculator-boxes-box-right-dropdown .rotate-btn {
    transform: rotate(180deg); }
  .calculator-boxes-box-right-dropdown .calculator-boxes-box-right-dropdown-list {
    display: none;
    width: calc(100% + 42px);
    height: 105px;
    margin-top: 20px;
    border: 1px solid #FB3B64;
    border-radius: 6px;
    margin-left: -21px;
    background: #fff;
    position: relative;
    z-index: 2;
    padding: 11px 20px;
    color: #000; }
    .calculator-boxes-box-right-dropdown .calculator-boxes-box-right-dropdown-list li {
      margin: 7px; }
      .calculator-boxes-box-right-dropdown .calculator-boxes-box-right-dropdown-list li:hover {
        cursor: pointer; }
  .calculator-boxes-box-right-dropdown .visible-dropdown-list {
    display: block; }

.calculator-boxes-box-left {
  margin: 10px; }
  .calculator-boxes-box-left .calculator-boxes-box-left-components {
    display: flex;
    flex-direction: column; }
    .calculator-boxes-box-left .calculator-boxes-box-left-components .component {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.5rem;
      border-radius: 6px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
      width: 100%;
      height: 31px;
      background: #55DFB4;
      margin-bottom: 10px; }
      .calculator-boxes-box-left .calculator-boxes-box-left-components .component span:last-child {
        font-size: 1.1rem; }
    .calculator-boxes-box-left .calculator-boxes-box-left-components .component-hidden {
      visibility: hidden; }
    .calculator-boxes-box-left .calculator-boxes-box-left-components span:last-child {
      font-weight: 600; }
    .calculator-boxes-box-left .calculator-boxes-box-left-components .calculator-boxes-box-left-components-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.5rem;
      border-radius: 6px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
      width: 50%;
      height: 38px;
      background: #08A6E4;
      align-self: flex-end;
      margin-top: 10px; }
      .calculator-boxes-box-left .calculator-boxes-box-left-components .calculator-boxes-box-left-components-total span:last-child {
        font-size: 1.25rem; }

@media (max-width: 800px) {
  .calculator-boxes-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px; }
    .calculator-boxes-box .calculator-boxes-box-left,
    .calculator-boxes-box .calculator-boxes-box-right {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 50%; }
      .calculator-boxes-box .calculator-boxes-box-left .calculator-boxes-box-left-components,
      .calculator-boxes-box .calculator-boxes-box-right .calculator-boxes-box-left-components {
        width: 100%; }
    .calculator-boxes-box form {
      width: 100%; }
      .calculator-boxes-box form label {
        width: 100%;
        justify-content: center; }
      .calculator-boxes-box form button {
        right: 7%; } }

@media (min-width: 801px) {
  .calculator-boxes-box {
    justify-content: space-evenly;
    align-items: center;
    height: 250px; }
    .calculator-boxes-box .calculator-boxes-box-left,
    .calculator-boxes-box .calculator-boxes-box-right {
      width: 45%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 0 auto; }
      .calculator-boxes-box .calculator-boxes-box-left .calculator-boxes-box-left-components,
      .calculator-boxes-box .calculator-boxes-box-right .calculator-boxes-box-left-components {
        width: 80%;
        height: 100%; }
    .calculator-boxes-box form {
      width: 80%;
      align-items: flex-start;
      justify-content: center; }
      .calculator-boxes-box form label {
        width: 100%;
        justify-content: flex-start; }
      .calculator-boxes-box form button {
        left: 39%; } }

.none {
  display: none; }

.footer {
  height: 90px;
  background-color: #fff;
  box-shadow: 0 -5px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .footer-box {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer-box .footer-box-left > p {
      font-family: "Open Sans", sans-serif;
      font-size: 0.7rem;
      color: #95989A; }
    .footer .footer-box .footer-box-left .footer-box-left-logo {
      font-size: 1.6rem;
      padding-bottom: 5px; }
    .footer .footer-box .footer-box-right img {
      padding-left: 20px; }

@media (max-width: 800px) {
  .footer-box {
    width: 90%; } }

@media (min-width: 801px) {
  .footer-box {
    width: 80%; } }
