//section 1 - header
header
{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-deep-light;
  box-shadow: 0 3px 10px rgba($color-deep-light, 1),
              0 3px 6px rgba($color-deep-dark, .9);
  position: fixed;
  top: 0;
  z-index: 3;

  .container
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
}

.header-logo
{
  font-family: $font-main;
  font-size: 2rem;
  font-weight: 300;
  color: $color-primary;
}

.header-menu-icon
{

  i
  {
    color: $color-primary;
  }
}

.header-menu
{

  li
  {
    font-family: $font-aside;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.21rem;
    text-transform: uppercase;
    text-align: center;

    a
    {
      text-decoration: none;
      color: $color-aside-light;
    }

    a:hover
    {
      color: $color-deep-dark;
    }

  }
}

.header-menu-close-icon
{
  display: none;
}

@media (max-width: 720px)
{

  .header-menu
  {
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    box-shadow: 0 6px 6px rgba($color-deep-dark, .3);

    ul
    {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      padding: 20px 0 20px 0;
      background: $color-deep-light;


      li
      {
        padding: 10px 0 10px 50px;
      }

    }
  }
}

@media (min-width: 721px) {
  .header-menu-open-icon,
  .header-menu-close-icon {
    display: none;
  }

  .header-menu {
    display: block;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;;
      align-items: center;

      li {
        padding-left: 50px;
      }

      a:hover {
        border-bottom: 5px solid $color-primary;
        padding-bottom: 22.5px;
      }

    }
  }


}