html
{
  font-size: 16px;
}

button
{
  cursor: pointer;
}

.container
{
  width: 1352px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

h2
{
  font-family: $font-main;
  font-size: 2.3rem;
  color: $color-deep-dark;
  padding-bottom: 30px;
}

h1
{
  font-family: $font-main;
  font-size: 3rem;
  font-weight: 400;
}

a
{
  text-decoration: none;
}

.logo
{
  font-family: $font-main;
  font-size: 2rem;
  font-weight: 300;
  color: $color-primary;
}

.checkbox
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid $color-aside-dark;
  border-radius: 4px;
  padding: 12px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

.checkbox:checked:after
{
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20%;
  right: 20%;
  background: url("../image/Checkmark.svg") center/cover;
}



@media (max-width: 800px)
{

  h1
  {
    font-size: 2.5rem;
  }

  h2
  {
    font-size: 2rem;
  }
}

