// fonts
$font-main:'Raleway', sans-serif;
$font-aside: 'Open Sans', sans-serif;

// colors
$color-primary: #08A6E4;
$color-secondary: #FB3B64;
$color-tertiary: #55DFB4;

$color-deep-dark: #000;
$color-deep-light: #fff;

$color-aside-dark: #707070;
$color-aside-semi-dark: #95989A;
$color-aside-light: #A5A5A5;

$color-background: #F7F7F7;
